In [1]:
import pandas as pd
from pathlib import Path
%matplotlib inline

In [6]:
whale_navs = whale_navs = pd.read_csv(
    Path("finTech/Module4/whale_navs.csv"), 
    index_col="date", 
    parse_dates=True, 
    infer_datetime_format=True
)
whale_navs.head(5)

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC,S&P 500
date,,,,,
2014-10-01,31.950240,14.991826,59.977830,51.948712,194.35
2014-10-02,31.936110,14.994072,59.978626,51.957619,194.38
2014-10-03,31.969707,14.999596,60.002264,52.022484,196.52
2014-10-06,32.048215,14.999471,60.006244,52.036387,196.29
2014-10-07,31.964216,14.994720,59.993735,52.005864,193.26

In [7]:
#Use the Pandas pct_change function 
#together with dropna to create the daily returns DataFrame. 
#Base this DataFrame on the NAV prices of the four portfolios 
#and on the closing price of the S&P 500 Index. Review the 
#first five rows of the daily returns DataFrame. 
#The following image shows how your daily returns DataFrame should appear:

In [14]:
whale_navs.head(5)
whale_navs = whale_navs.pct_change()
whale_navs.head()
whale_navs.dropna

<bound method DataFrame.dropna of             SOROS FUND MANAGEMENT LLC  PAULSON & CO.INC.  \
date
2014-10-01                        NaN                NaN
2014-10-02                  -0.000442           0.000150
2014-10-03                   0.001052           0.000368
2014-10-06                   0.002456          -0.000008
2014-10-07                  -0.002621          -0.000317
...                               ...                ...
2020-09-04                  -0.001079           0.005050
2020-09-08                  -0.001737          -0.001888
2020-09-09                   0.001115           0.002123
2020-09-10                  -0.001258           0.001389
2020-09-11                  -0.000418          -0.001930

            TIGER GLOBAL MANAGEMENT LLC  BERKSHIRE HATHAWAY INC   S&P 500
date
2014-10-01                          NaN                     NaN       NaN
2014-10-02                     0.000013                0.000171  0.000154
2014-10-03                     0.000394                0.001248  0.011009
2014-10-06                     0.000066                0.000267 -0.001170
2014-10-07                    -0.000208               -0.000587 -0.015436
...                                 ...                     ...       ...
2020-09-04                    -0.000653               -0.003985 -0.008165
2020-09-08                    -0.001270               -0.005019 -0.027323
2020-09-09                     0.002701                0.001817  0.019747
2020-09-10                    -0.001591               -0.002398 -0.017364
2020-09-11                    -0.000434               -0.001016  0.000509

[1498 rows x 5 columns]>

The daily return for the S&P 500 was  0.00187 or  0.19%